[mysqld]
# Usuario que ejecutará el demonio
user            = mysql

# Puerto de escucha estándar
port            = 3306

# Ruta donde se guardarán los datos (coincide con tu volumen de Docker)
datadir         = /var/lib/mysql

# Ruta del socket (coincide con la carpeta que creaste en tu Dockerfile)
socket          = /run/mysqld/mysqld.sock

# Escuchar a todas las IPs de la red interna de Docker (VITAL para WordPress)
bind-address    = 0.0.0.0
